html, body {
  margin: 0;
  padding: 0;
}

h1{

  color: aqua;

}
boton {
background-color: rgb(177, 37, 37);
color: rgb(180, 104, 104);
width: 100px;
padding: 20px;
border: 1px solid #000;
border-radius: 5px;
}